name: build
on: [pull_request, push]

jobs:
  build:
    strategy:
      matrix:
        include:
          - { mc: 1.14, java: 17, fabric: 0.28.5+1.14, mappings: 1.14+build.21 }
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      - name: validate gradle wrapper
        uses: gradle/wrapper-validation-action@v2
      - name: setup jdk ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
      - name: Update gradle.properties
        run: |
          # Minecraft-Version
          sed -i "s/^minecraft_version=.*/minecraft_version=${{ matrix.mc }}/" gradle.properties

          # Yarn Mappings Version
          sed -i "s/^yarn_mappings=.*/yarn_mappings=${{ matrix.mappings }}/" gradle.properties
          
          # Fabric api Version
          sed -i "s/^fabric_version=.*/fabric_version=${{ matrix.fabric }}/" gradle.properties

      - name: make gradle wrapper executable
        run: chmod +x ./gradlew
      - name: build
        run: ./gradlew build
      - name: capture build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: build/libs/